<div class="quiz-area" ng-show="inProgress" >
	<div ng-show="!quizOver" >
		<h2 id="question">{{question}}</h2>
		<ul id="options">
            <button ng-show="answerMode" ng-click="checkAnswer(0)">Ναι</button>
            <button ng-show="answerMode" ng-click="checkAnswer(1)">Όχι</button>
		</ul>
		<!--<button ng-show="answerMode" ng-click="checkAnswer()">Submit</button>-->

		<div ng-show="!answerMode">
			<button ng-click="nextQuestion()" class="next-question">Next</button>
			<span ng-show="correctAns"></span>
			<span ng-show="!correctAns"></span>
		</div>
	</div>

	<div ng-show="quizOver">
		<h2 ng-show="mesg1">This is Message One!</h2>
        <h2 ng-show="mesg2">This is Message Two!</h2>
        <h2 ng-show="mesg3">This is Message Three!</h2>
		<button ng-click="reset(); QuizActive = 0;">Play again</button>
	</div>

	<div id="score">
		Score: {{score}}
        Questions Answered: {{questionsAnswered}}
	</div>
</div>
<div class="intro" ng-hide="inProgress">
	<p>Welcome to the QuizApp</p>
	<button id="startQuiz" ng-click="start()">Start the Quiz</button>
</div>